<ion-header [elasticHeader]="myContent">

  <ion-navbar color="secondary">
    <ion-title text-center *ngIf="!isSearchbarOpened">Update</ion-title>

    <ion-searchbar *ngIf="isSearchbarOpened" type="text" [(ngModel)]="term" placeholder="Search" showCancelButton="true" (ionCancel)="isSearchbarOpened=false"></ion-searchbar>
      <ion-buttons right>
        <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding fullscreen #myContent>

    <!--------BIRTHITEMS------------>
    <div *ngIf="birthItems">
      <div *ngFor = "let check of birthItems | filter: term; let i = index" no-padding>
          <div class="text">
            <p class="topLabel">Item Name: 
              <button class="catName" color="custom-yellow" (click)="updateItem(check)" ion-button >
                <p class="catSave">Save</p>
              </button>
            </p>
            <input class="inputTextTitle" ion-input type="text" [(ngModel)]="check.name" name="name">
          </div>
          

        <ion-item>
            <div text-center>
              <img class="parentImage" src="{{myProducts.itemDetails.imageUrl}}" imageViewer>
            </div> 
            <div class="text">
              <p class="label">Product Name:</p> <input class="topInputText" ion-input type="text" [(ngModel)]="myProducts.name" name="name">
              <p class="label">Price:</p> <input class="topInputText" ion-input type="text" [(ngModel)]="myProducts.price" name="price">
              <p class="label">Location:</p> <input class="topInputText" ion-input type="text" [(ngModel)]="myProducts.itemDetails.moreDetails.location" name="location">
              <p class="label">Contact:</p> <input class="topInputText" ion-input type="text" [(ngModel)]="myProducts.itemDetails.moreDetails.contact" name="contact">
              <p class="label">Description:</p> <input class="topInputText" ion-input type="text" [(ngModel)]="myProducts.itemDetails.moreDetails.description" name="description">
              <p class="label">Image Url:</p> <input class="topInputText" ion-input type="text" [(ngModel)]="myProducts.itemDetails.imageUrl" name="description">
            </div>

            <ion-slides pager paginationType="progress" class="subSlider" slidesPerView="1">
                <ion-slide class="subSlide" *ngFor="let subItem of myProducts.itemDetails.moreDetails.subItems; let i = index;">
                  <div class="subCard">
                    <div>
                        <img text-center src="{{subItem.subImage}}" imageViewer>
                        <div class="text">
                          <p class="subLabel">Name:</p> <input class="inputText" ion-input type="text" [(ngModel)]="subItem.subName" name="subName">
                          <p *ngIf="subItem.subPrice" class="subLabel">Price:</p> <input class="inputText" ion-input type="text"  [(ngModel)]="subItem.subPrice" name="subDesc">
                          <p class="subLabel">Description:</p> <input class="inputText" ion-input type="text"  [(ngModel)]="subItem.subDesc" name="subDesc">
                          <p class="subLabel">Image Url:</p> <input class="inputText" ion-input type="text"  [(ngModel)]="subItem.subImage" name="subDesc">
                          <!--SET A-->
                          <p class="setTitle" *ngIf="subItem.packages">PACKAGES</p>
                          <div class="setA" *ngIf="subItem.packages">
                            <p class="subLabel">Set A:</p> <input class="inputText" ion-input type="text"  [(ngModel)]="subItem.packages.setA.description" name="subDesc">
                            <p class="subLabelPrice">Price: </p> <input class="subInputSetA" ion-input type="text"  [(ngModel)]="subItem.packages.setA.price" name="subDesc">
                          </div>
                          <!--SET B-->
                          <div class="setB" *ngIf="subItem.packages">
                            <p class="subLabel">Set B:</p> <input class="inputText" ion-input type="text"  [(ngModel)]="subItem.packages.setB.description" name="subDesc">
                            <p class="subLabelPrice">Price: </p> <input class="subInputSetB" ion-input type="text"  [(ngModel)]="subItem.packages.setB.price" name="subDesc">
                          </div>
                          <!--SET C-->
                          <div class="setC" *ngIf="subItem.packages">
                            <p class="subLabel">Set C:</p> <input class="inputText" ion-input type="text"  [(ngModel)]="subItem.packages.setC.description" name="subDesc">
                            <p class="subLabelPrice">Price: </p> <input class="subInputSetC" ion-input type="text"  [(ngModel)]="subItem.packages.setC.price" name="subDesc">
                          </div>
                        </div>
                    </div>
                  </div>
                </ion-slide>
              </ion-slides>
              <ion-buttons bottom text-center>
                <button ion-button color="custom-yellow" class="updateButton" (click)="updateItem(check)" >
                  <ion-icon class="checkIcon" name="checkmark"></ion-icon>
                  <h3>Save</h3>
                </button>
              </ion-buttons>
        </ion-item>
      </div>
    </div>


    <!-----------CHRISTITEMS-------------->
    <div *ngIf="christItems">
      <div *ngFor = "let check of christItems | filter: term; let i = index" no-padding>
          <div class="text">
            <p class="topLabel">Item Name: 
              <button class="catName" color="custom-yellow" (click)="updateItem(check)" ion-button >
                <p class="catSave">Save</p>
              </button>
            </p>
            <input class="inputTextTitle" ion-input type="text" [(ngModel)]="check.name" name="name">
          </div>
          

        <ion-item>
            <div text-center>
              <img class="parentImage" src="{{myProducts.itemDetails.imageUrl}}" imageViewer>
            </div> 
            <div class="text">
              <p class="label">Product Name:</p> <input class="topInputText" ion-input type="text" [(ngModel)]="myProducts.name" name="name">
              <p class="label">Price:</p> <input class="topInputText" ion-input type="text" [(ngModel)]="myProducts.price" name="price">
              <p class="label">Location:</p> <input class="topInputText" ion-input type="text" [(ngModel)]="myProducts.itemDetails.moreDetails.location" name="location">
              <p class="label">Contact:</p> <input class="topInputText" ion-input type="text" [(ngModel)]="myProducts.itemDetails.moreDetails.contact" name="contact">
              <p class="label">Description:</p> <input class="topInputText" ion-input type="text" [(ngModel)]="myProducts.itemDetails.moreDetails.description" name="description">
              <p class="label">Image Url:</p> <input class="topInputText" ion-input type="text" [(ngModel)]="myProducts.itemDetails.imageUrl" name="description">
            </div>

            <ion-slides pager paginationType="progress" class="subSlider" slidesPerView="1">
                <ion-slide class="subSlide" *ngFor="let subItem of myProducts.itemDetails.moreDetails.subItems; let i = index;">
                  <div class="subCard">
                    <div>
                        <img text-center src="{{subItem.subImage}}" imageViewer>
                        <div class="text">
                          <p class="subLabel">Name:</p> <input class="inputText" ion-input type="text" [(ngModel)]="subItem.subName" name="subName">
                          <p *ngIf="subItem.subPrice" class="subLabel">Price:</p> <input class="inputText" ion-input type="text"  [(ngModel)]="subItem.subPrice" name="subDesc">
                          <p class="subLabel">Description:</p> <input class="inputText" ion-input type="text"  [(ngModel)]="subItem.subDesc" name="subDesc">
                          <p class="subLabel">Image Url:</p> <input class="inputText" ion-input type="text"  [(ngModel)]="subItem.subImage" name="subDesc">
                          <!--SET A-->
                          <p class="setTitle" *ngIf="subItem.packages">PACKAGES</p>
                          <div class="setA" *ngIf="subItem.packages">
                            <p class="subLabel">Set A:</p> <input class="inputText" ion-input type="text"  [(ngModel)]="subItem.packages.setA.description" name="subDesc">
                            <p class="subLabelPrice">Price: </p> <input class="subInputSetA" ion-input type="text"  [(ngModel)]="subItem.packages.setA.price" name="subDesc">
                          </div>
                          <!--SET B-->
                          <div class="setB" *ngIf="subItem.packages">
                            <p class="subLabel">Set B:</p> <input class="inputText" ion-input type="text"  [(ngModel)]="subItem.packages.setB.description" name="subDesc">
                            <p class="subLabelPrice">Price: </p> <input class="subInputSetB" ion-input type="text"  [(ngModel)]="subItem.packages.setB.price" name="subDesc">
                          </div>
                          <!--SET C-->
                          <div class="setC" *ngIf="subItem.packages">
                            <p class="subLabel">Set C:</p> <input class="inputText" ion-input type="text"  [(ngModel)]="subItem.packages.setC.description" name="subDesc">
                            <p class="subLabelPrice">Price: </p> <input class="subInputSetC" ion-input type="text"  [(ngModel)]="subItem.packages.setC.price" name="subDesc">
                          </div>
                        </div>
                    </div>
                  </div>
                </ion-slide>
              </ion-slides>
            
              <ion-buttons bottom text-center>
                <button ion-button color="custom-yellow" class="updateButton" (click)="updateItem(check)" >
                  <ion-icon class="checkIcon" name="checkmark"></ion-icon>
                  <h3>Save</h3>
                </button>
              </ion-buttons>
        </ion-item>
      </div>
    </div>


    <!-----------WEDITEMS--------------->
    <div *ngIf="wedItems">
      <div *ngFor = "let check of wedItems | filter: term; let i = index" no-padding>
          <div class="text">
            <p class="topLabel">Item Name: 
              <button class="catName" color="custom-yellow" (click)="updateItem(check)" ion-button >
                <p class="catSave">Save</p>
              </button>
            </p>
            <input class="inputTextTitle" ion-input type="text" [(ngModel)]="check.name" name="name">
          </div>
          

        <ion-item>
            <div text-center>
              <img class="parentImage" src="{{myProducts.itemDetails.imageUrl}}" imageViewer>
            </div> 
            <div class="text">
              <p class="label">Product Name:</p> <input class="topInputText" ion-input type="text" [(ngModel)]="myProducts.name" name="name">
              <p class="label">Price:</p> <input class="topInputText" ion-input type="text" [(ngModel)]="myProducts.price" name="price">
              <p class="label">Location:</p> <input class="topInputText" ion-input type="text" [(ngModel)]="myProducts.itemDetails.moreDetails.location" name="location">
              <p class="label">Contact:</p> <input class="topInputText" ion-input type="text" [(ngModel)]="myProducts.itemDetails.moreDetails.contact" name="contact">
              <p class="label">Description:</p> <input class="topInputText" ion-input type="text" [(ngModel)]="myProducts.itemDetails.moreDetails.description" name="description">
              <p class="label">Image Url:</p> <input class="topInputText" ion-input type="text" [(ngModel)]="myProducts.itemDetails.imageUrl" name="description">
            </div>

            <ion-slides pager paginationType="progress" class="subSlider" slidesPerView="1">
                <ion-slide class="subSlide" *ngFor="let subItem of myProducts.itemDetails.moreDetails.subItems; let i = index;">
                  <div class="subCard">
                    <div>
                        <img text-center src="{{subItem.subImage}}" imageViewer>
                        <div class="text">
                          <p class="subLabel">Name:</p> <input class="inputText" ion-input type="text" [(ngModel)]="subItem.subName" name="subName">
                          <p *ngIf="subItem.subPrice" class="subLabel">Price:</p> <input class="inputText" ion-input type="text"  [(ngModel)]="subItem.subPrice" name="subDesc">
                          <p class="subLabel">Description:</p> <input class="inputText" ion-input type="text"  [(ngModel)]="subItem.subDesc" name="subDesc">
                          <p class="subLabel">Image Url:</p> <input class="inputText" ion-input type="text"  [(ngModel)]="subItem.subImage" name="subDesc">
                          <!--SET A-->
                          <p class="setTitle" *ngIf="subItem.packages">PACKAGES</p>
                          <div class="setA" *ngIf="subItem.packages">
                            <p class="subLabel">Set A:</p> <input class="inputText" ion-input type="text"  [(ngModel)]="subItem.packages.setA.description" name="subDesc">
                            <p class="subLabelPrice">Price: </p> <input class="subInputSetA" ion-input type="text"  [(ngModel)]="subItem.packages.setA.price" name="subDesc">
                          </div>
                          <!--SET B-->
                          <div class="setB" *ngIf="subItem.packages">
                            <p class="subLabel">Set B:</p> <input class="inputText" ion-input type="text"  [(ngModel)]="subItem.packages.setB.description" name="subDesc">
                            <p class="subLabelPrice">Price: </p> <input class="subInputSetB" ion-input type="text"  [(ngModel)]="subItem.packages.setB.price" name="subDesc">
                          </div>
                          <!--SET C-->
                          <div class="setC" *ngIf="subItem.packages">
                            <p class="subLabel">Set C:</p> <input class="inputText" ion-input type="text"  [(ngModel)]="subItem.packages.setC.description" name="subDesc">
                            <p class="subLabelPrice">Price: </p> <input class="subInputSetC" ion-input type="text"  [(ngModel)]="subItem.packages.setC.price" name="subDesc">
                          </div>
                        </div>
                    </div>
                  </div>
                </ion-slide>
              </ion-slides>
            
              <ion-buttons bottom text-center>
                <button ion-button color="custom-yellow" class="updateButton" (click)="updateItem(check)" >
                  <ion-icon class="checkIcon" name="checkmark"></ion-icon>
                  <h3>Save</h3>
                </button>
              </ion-buttons>
        </ion-item>
      </div>
    </div>
</ion-content>
