page-edit {
    ion-label{
        color: rgba(0, 0, 0, 0.76);
        font-size: 26px!important;
        font-weight: 400!important;
    }
    ion-title{
        margin-left: -10px;
    }

    ion-content{
        background-color: #fafafa!important;
    }

    //ion-item
    .item-md {
        margin-bottom: 25px!important;
        padding-bottom: 20px;
        padding-top: 20px;
        box-shadow: 1px 9px 10px #dbdbdb;
        width: 97%;
        margin: auto;
    }
    .item-md.item-block .item-inner {
        padding-right: 0px!important;
    }
    ion-item{
        background-color: white!important;
        border-radius: 10px;
    }

    .updateButton{
        border-radius:10px;
        width: 85%;
    }
    .searchbar-md .searchbar-input {
        border-radius: 30px!important;
    }
    .searchbar-md .searchbar-clear-icon {
        right: 25px!important;
    }

    //IMAGES
    .subImage{
        height: 100px!important;
        width: 150px!important;
        object-fit: fill;
        overflow: hidden;
    }
    .parentImage{
        object-fit: fill;
        overflow: hidden;
    }

    .inputText{
        margin-top: 18px!important;
        margin-bottom: 5px;
    }
    //SET A
    .text .setTitle{
        margin-top: 40px;
        margin-bottom: -10px;
        color: #05c3b2;
        font-family: sans-serif;
        font-size: 17px!important;
    }
    .setA{
        margin-top: 20px;
        border-top: 1px solid rgb(207, 207, 207)!important;
        border-bottom: 1px solid rgb(207, 207, 207)!important;
    }
    .subInputSetA{
        margin-top: 10px!important;
        margin-bottom: 20px;
        width: 30%!important;
        text-align: center;
    }
    //SET B
    .setB{
        border-bottom: 1px solid rgb(207, 207, 207)!important;
    }
    .subInputSetB{
        margin-top: 10px!important;
        margin-bottom: 20px;
        width: 30%!important;
        text-align: center;
    }
    //SET C
    .setC{
        border-bottom: 1px solid rgb(207, 207, 207)!important;
    }
    .subInputSetC{
        margin-top: 10px!important;
        margin-bottom: 20px;
        width: 30%!important;
        text-align: center;
    }
    .text .subLabelPrice{
        margin-top: 5px;
        margin-bottom: -10px;
        color: #05c3b2;
        font-family: sans-serif;
    }
    input[type=text]{
        width:100%;
        border: none;
        border-bottom: 1px solid rgba(168, 168, 168, 0.55);
        font-size: 17px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.550);
    }
    label{
        font-size: 21px;
        font-family: unset;
    }
    .text{
        padding-bottom: 20px;
        font-family: sans-serif;
    }
    .text .label{
        margin-top: 20px;
        margin-bottom: -15px;
        color: #05c3b2;
        font-family: sans-serif;
    }
    .text .topLabel{
        margin: 17px 15px -9px!important;
        color: #05c3b2;
        font-family: sans-serif;
    }
    .text .subLabel{
        margin-top: 20px;
        margin-bottom: -10px;
        color: #05c3b2;
        font-family: sans-serif;
    }
    .inputTextTitle{
        font-size: 28px!important;
        border: none!important;
        margin-top: 18px!important;
        margin-left:13px;
        margin-bottom: 5px;
        background-color: transparent;
    }
    .updateButton{
        border-radius:20px;
        font-size: 12px;
        color: white;
        font-family: sans-serif;
    }
    .updateText{
        color: white;
        padding-left: 9px;
        font-size: 11px;
        font-family: sans-serif;
    }
    .checkIcon{
        font-size: 16px;
    }
    .item-md .item-button {
        margin-top: 30px;
        height: 35px !important;
    }
    .fab-md{
        color: #f53d3d!important;
        border: 1px solid #f53d3d!important;
        background-color: white!important;
    }
    .fab{
        width: 35px!important;
        height: 35px!important;
    }
    .fabIcon{
        font-size: 17px;
    }
    .likes{
        color:#757575;
        font-size: 12px;
        margin-left: 10px;
    }
    .incName{
        font-size: 21px;
        font-weight: bold;
        margin-top: 12px;
        font-family: sans-serif;
    }

    //text inside Sub Item
    .subPriceText{
        font-size: 13px!important;
        color: #757575!important;
    }
    .subNameText{
        font-size: 17px!important;
    }
    //Sub Sliders
    .subSlide{
        margin-top:20px;
    }
    .subSlider{
        margin-top:10px;
        // border-top: 1px solid rgb(202, 202, 202);
        // width: 98%;
        // margin-left: -8px;
    }
    .subAdd-button{
        border-radius: 5px;
        margin-left: -3px;
        height: 28px;
    }

    //Category Name
    .catName{
        height:20px;
        margin-top: -10px;
    }
    .catSave{
        font-size:10px!important;
    }
    .card-content-md{
        padding: 13px 28px!important;
    }

    .swiper-slide img{
        max-width: 70%!important
    }

    //Progress Bar
    .swiper-pagination-progress .swiper-pagination-progressbar {
        background: #00ad9f!important;
    }
    .swiper-container-horizontal > .swiper-pagination-progress {
        height: 1px!important;
    }
}
