
<ion-header [elasticHeader]="myContent">

  <ion-navbar color="secondary">
  </ion-navbar>

</ion-header>


  
<ion-content fullscreen #myContent>

    <ion-list>
        <div *ngIf="categories">
          <div text-wrap class="head" text-center *ngFor="let item of categories">
            <img class="parentImage" src="{{myProducts.itemDetails.imageUrl}}" (click)="imgDetail(item)">
            <h2 class="businessName">{{myProducts.name}}</h2>
            <h2 class="businessDesc">"{{myProducts.itemDetails.moreDetails.description}}"</h2>
            <h2 class="businessLocation"><ion-icon class="descIcon" name="pin"></ion-icon> {{myProducts.itemDetails.moreDetails.location}}</h2>
          </div>
        </div>

          <ion-card text-wrap *ngFor="let advertiser of advertisers">
              <ion-fab right>
                  <button ion-fab color="secondary" (click)="updateProfile(advertiser)">
                      <ion-icon class="fabIcon" name="create"></ion-icon> 
                  </button>
              </ion-fab>
            <div class="cardCont">
              <div class="info"> <p class="label"><ion-icon class="icn" name="person"></ion-icon>Owner:</p> <h2 class="h2Lab">{{advertiser.displayName}}</h2> </div>
              <div class="info"> <p class="label"><ion-icon class="icn" name="mail"></ion-icon>Email:</p> <h2 class="h2Lab">{{advertiser.email}}</h2></div>
              <div class="info"> <p class="label"><ion-icon class="icn" name="person"></ion-icon>FirstName:</p> <h2 class="h2Lab">{{advertiser.firstName}}</h2></div>
              <div class="info"> <p class="label"><ion-icon class="icn" name="person"></ion-icon>LastName:</p> <h2 class="h2Lab">{{advertiser.lastName}}</h2></div>
              <div class="info"> <p class="label"><ion-icon class="icn" name="call"></ion-icon>Contact:</p> <h2 class="h2Lab">{{advertiser.contact}}</h2></div>
              <div class="info"> <p class="label"><ion-icon class="icn" name="help-buoy"></ion-icon>Token:</p> <h2 class="h2Lab">{{advertiser.userId}}</h2></div>
            </div>
          </ion-card>
    </ion-list>

</ion-content>

