page-item-details {
    ion-slide{
        padding:20px 50px 20px 50px;
        margin-top: 20px;
    }
    ion-slides {
        margin-top: 20px;
    }
    .incName{
        color: #494949!important;
        margin-left:20px;
        font-size: 21px;
        font-weight: 500;
    }
    .text{
        margin-left:30px;
        margin-top:20px;
    }
    p{
        margin-top:20px!important;
        color:#009688!important;
    }
    h2{
        margin-top: 5px!important;
        margin-left: 20px!important;
        color: #494949;
        font-size:20px!important;
    }
    .setTitle{
        border-bottom: 1px solid rgb(207, 207, 207)!important;
        margin-top: 40px!important;
        margin-bottom: -10px;
        color: #05c3b2;
        font-family: sans-serif;
        font-size: 17px!important;
    }
    .subLabelPrice{
        color: #05c3b2;
        font-family: sans-serif;
    }
    .subTextSet{
        margin-bottom: -15px!important;
        margin-left: 0px !important;
    }
    .setA{
        border-bottom: 1px solid rgb(207, 207, 207)!important;
    }
    .setB{
        border-top: 1px solid rgb(207, 207, 207)!important;
        border-bottom: 1px solid rgb(207, 207, 207)!important;
    }
    .setC{
        border-top: 1px solid rgb(207, 207, 207)!important;
        border-bottom: 1px solid rgb(207, 207, 207)!important;
    }
    .title{
        margin-left: 30%;
    }

    .incText{
        font-size: 25px;
        color: #00ad9f;
    }

    //IMAGES
    .subImage{
        height: 100px!important;
        width: 150px!important;
        object-fit: fill;
        overflow: hidden;
        display: initial!important;
    }
    .parentImage{
        height: 250px!important;
        width: 250px!important;
        object-fit: fill;
        overflow: hidden;
    }

    //subTexts
    .subText{
        margin-left: 0px !important;
    }

    //Progress Bar
    .swiper-pagination-progress .swiper-pagination-progressbar {
        background: #00ad9f!important;
    }
    .swiper-container-horizontal > .swiper-pagination-progress {
        margin-top:10px;
        height: 1px!important;
    }
}
