.closeText{
    color: #05c3b2;
    padding-left: 9px;
    font-size: 18px;
    font-family: sans-serif;
}

.activeHighLight{
    background-color: #05c3b2;
    color: white!important;
    border-radius: 7px;
    margin-left: 20px;
}

.titleText{
    margin-left:10px;
}

.searchbar-md .searchbar-input {
    border-radius: 30px!important;
}
ion-navbar.toolbar {
    min-height: 46px;
}

//ALERT CONTROLLER
.alert-md .alert-head {
    text-align: start!important;
    padding: 24px 24px 20px!important;
    background: #00AD9F!important;
}
.alert-md .alert-input {
    border-bottom: 2px solid #00AD9F!important;
}
.alert-md .alert-button {
    color: #ffffff!important;
    background: #00AD9F!important;
    border-radius: 18px!important;
    font-size: 11px!important;
    padding: 6px 17px!important;
}
.alert-md .alert-wrapper {
    border-radius: 16px!important;
}
.alert-wrapper {
    min-width: 290px!important;
}
.alert-md .alert-title {
    color: white;
}
.alert-md .alert-title {
    font-size: 19px!important;
    text-align: center;
}
.alert-md .alert-button-group {
    padding: 8px 9px 21px 24px!important;
}

.alert-md .alert-message{
    padding: 15px 24px 16px;
}

//LOADER
ion-spinner {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 100px;
}
.loading-md .loading-wrapper {
    color: rgba(0, 0, 0, 0)!important;
    background: none;
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0)!important;
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0)!important;
}
.loading-md .spinner-crescent circle {
    fill: #00AD9F!important;
}
.loading-md .spinner-crescent circle {
    stroke: #FF585D;
}
.loading-md .loading-spinner + .loading-content {
    margin-left: 16px;
    color: white;
}
