.closeText{
    color: #05c3b2;
    padding-left: 9px;
    font-size: 18px;
    font-family: sans-serif;
}

.activeHighLight{
    background-color: #05c3b2;
    color: white!important;
    border-radius: 7px;
    margin-left: 20px;
}

.titleText{
    margin-left:10px;
}

.searchbar-md .searchbar-input {
    border-radius: 30px!important;
}
ion-navbar.toolbar {
    min-height: 46px;
}