<ion-header [elasticHeader]="myContent">

    <ion-navbar color="custom-yellow">
  
      <ion-title text-center *ngIf="!isSearchbarOpened">Products</ion-title>

      <ion-searchbar *ngIf="isSearchbarOpened" type="text" [(ngModel)]="term" placeholder="Search" showCancelButton="true" (ionCancel)="isSearchbarOpened=false"></ion-searchbar>
        <ion-buttons right>
          <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>

  </ion-header>

<ion-content padding fullscreen #myContent>

    <ion-list>
        <button icon-only color="secondary" class="updateButton" (click)="edit($event)" ion-button >
          <p class="updateText">Update</p>
          <ion-icon name="create"></ion-icon>
        </button>

    <ion-item *ngFor = "let check of birthItems | filter: term; let i = index" no-padding>
      <ion-item no-lines class="incName">
        {{check.name}}
      </ion-item>

          <ion-slides pager paginationType="bullets" slidesPerView="1">        

            <ion-slide *ngFor="let item of check.itemList.itemName; let i = index;">                
              <h2>{{item.name}}</h2>
              <h2 class="price">{{item.price | currency:'₱'}}</h2>
              <img class="imageSize" src="{{item.itemDetails.imageUrl}}" (click)="imgDetail(item)">
            </ion-slide>
          </ion-slides>
      
      </ion-item>
    </ion-list>

</ion-content>
